body {
    background: #efefef;
    margin: 0;
    text-align: center;
    font-size: 36px;
}

header {
    background-color: skyblue;
    color: #fff;
    text-align: center;
    padding-top: 64px;
    margin: 0 auto;
}

header h1,
header p {
    margin: 0;
}

header img {
    width: 280px;
    /* 画像を下端に配置する*/
    vertical-align: bottom;
}

#btn {
    width: 200px;
    height: 200px;
    background: #ef454a;
    border-radius: 50%;
    margin: 30px auto;
    text-align: center;
    line-height: 200px;
    color: #fff;
    font-weight: bold;
    font-size: 42px;
    cursor: pointer;
    box-shadow: 0 10px 0 #d1483e;
    /* 文字選択回避 */
    user-select: none;
}


/* ボタン押下した時 */

#btn:hover {
    opacity: 0.9;
}


/* ボタン押下後 */

#btn:active {
    box-shadow: 0 5px 0 #d1483e;
    margin-top: 35px;
}

@media screen and (min-width: 900px) {
    header .container {
        display: flex;
        width: 800px;
        margin: auto;
    }
    header .info {
        width: 60%;
        align-self: center;
    }
    header .pic {
        width: 40%;
    }
}